{% extends 'base.html.twig' %}

{% block body %}
    <div class="content d-flex justify-content-center align-items-center">
        <div class="login-form">
            {{ form_start(form) }}
            <div class="card mb-0">
                <div class="card-body">
                    <div class="text-center mb-3">
                        <i class="icon-spinner11 icon-2x text-warning border-warning border-3 rounded-round p-3 mb-3 mt-1"></i>
                        <h5 class="mb-0">{% trans %}security.password_recovery.title{% endtrans %}</h5>
                        <span class="d-block text-muted">{% trans %}security.password_recovery.description{% endtrans %}</span>
                    </div>
                    <div class="form-group form-group-feedback form-group-feedback-left">
                        {{ form_widget(form.email) }}
                        <div class="form-control-feedback">
                            <i class="icon-mail5 text-muted"></i>
                        </div>
                        {% if form.children.email.vars.errors|length %}
                            <div id="invalid-email" class="validation-invalid-label">
                                {{ form_errors(form.password) }}
                            </div>
                        {% endif %}
                    </div>
                    {{ form_widget(form.submit) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
