{% extends 'base.html.twig' %}
{% block body %}

    <div class="row mb-4">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h1 class="page-header">
                        {{ entity.game.name }}
                    </h1>
                </div>
                <div class="col text-right">
                    {% trans %}status{% endtrans %}:
                    <a class="btn-sm {{ entity.status == 'open' ? 'btn-primary' : 'btn-light' }}"
                       href="{{ path('game_status_open', {'id': entity.game.id}) }}">{% trans %}status_open{% endtrans %}</a>
                    <a class="btn-sm {{ entity.status == 'paused' ? 'btn-primary' : 'btn-light' }}"
                       href="{{ path('game_status_paused', {'id': entity.game.id}) }}">{% trans %}status_paused{% endtrans %}</a>
                    <a class="btn-sm {{ entity.status == 'playing' ? 'btn-primary' : 'btn-light' }}"
                       href="{{ path('game_status_playing', {'id': entity.game.id}) }}">{% trans %}status_playing{% endtrans %}</a>
                    <a class="btn-sm {{ entity.status == 'finished' ? 'btn-primary' : 'btn-light' }}"
                       href="{{ path('game_status_finished', {'id': entity.game.id}) }}">{% trans %}status_finished{% endtrans %}</a>
                    <a class="btn-sm {{ entity.status == 'given_up' ? 'btn-primary' : 'btn-light' }}"
                       href="{{ path('game_status_given_up', {'id': entity.game.id}) }}">{% trans %}status_given_up{% endtrans %}</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img class="thumbnail" src="{{ entity.game.headerImagePath }}"/>
                </div>
                {% include 'Game/_modules/information-card.html.twig' %}
                {% include 'Game/_modules/session-card.html.twig' %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div data-game-id="{{ entity.game.id }}" class="col col-md-12" id="playtime-game" data-year="{{ currentYear }}">
                <h3>{% trans %}playtime_game{% endtrans %} <span id="selectedYear">{{ currentYear }}</span></h3>
            </div>
            <div class="col">
                {% trans %}switch_to_year{% endtrans %}:
                {% for year in yearsWithSessions %}
                    <a href='#' class="playtime-game-year-select" data-year="{{ year }}">{{ year }}</a>
                    {% if not loop.last %}
                        |
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row dashboardRow">
        <div data-game-id="{{ entity.game.id }}" class="col col-md-6 dashboardRow" id="sessions-per-month-for-game">
            <h3>{% trans %}session_per_month{% endtrans %}</h3>
        </div>
    </div>

{% endblock %}
