{% extends 'admin-base.html.twig' %}
{% block body %}

{{ form_start(form) }}
<div class="row">
    <div class="col-lg-12 page-header">
        <h1 class="col-lg-6 col-md-6">{{ entity.name }}</h1>
        <span class="pull-right">{% trans from "game" %}bought at{% endtrans %}
            {{ form_widget(form.boughtAt) }}
        </span>
    </div>
</div>
<div class="row">
    {% include '_modules/Game/information-card.html.twig' %}
    {% include '_modules/Game/session-card.html.twig' %}
    {% include '_modules/Game/blog-post-card.html.twig' %}
    {% include '_modules/Game/purchase-card.html.twig' %}
</div>
<div class="row">
    <div class="row">

    </div>
    <div class="row">
        <div class="col">
            {{ form_widget(form.description) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.submit) }}
        </div>
    </div>
</div>
{{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            CKEDITOR.replace('game_description');
        });
    </script>
{% endblock %}
