{% include 'base.html.twig' %}
{% block body %}
    <div class="container">
        {% if  app.request.get('_route') ends with '_edit' %}
            <div class="row">
                <div class="col text-right">
                    <a href="{{ path('game_show', {'slug' : entity.slug }) }}">
                        {% trans from "game" %}show frontend page{% endtrans %}
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col text-right">
                    <a href="{{ path('game_update_steam_information', {'id' : entity.id }) }}">
                        {% trans from "game" %}update Steam Information{% endtrans %}
                    </a>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col text-right">
                {% trans from "game" %}Game{% endtrans %}:
            </div>
            <div class="col">
                {{ entity.name }}
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                {% trans from "game" %}SteamAppId{% endtrans %}:
            </div>
            <div class="col">
                {{ entity.steamAppId }}
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                {% trans from "game" %}created at{% endtrans %}:
            </div>
            <div class="col">
                {{ entity.createdAt|date("d.m.Y H:i") }}
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                {% trans from "game" %}modified at{% endtrans %}:
            </div>
            <div class="col">
                {{ entity.modifiedAt|date("d.m.Y H:i") }}
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                {% trans from "game" %}number of sessions{% endtrans %}:
            </div>
            <div class="col">
                {{ entity.gameSessions|length }}
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                {% trans from "game" %}number of blogposts{% endtrans %}:
            </div>
            <div class="col">
                {{ entity.blogPosts|length }}
                <a href="{{ path('blog_post_create_for_game', {'id': entity.id}) }}">
                    {% trans from "game" %}create new blogposts{% endtrans %}
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                {% trans from "game" %}current Steam price{% endtrans %}:
            </div>
            <div class="col">
                {% set price = entity.price %}
                {{ price }} {{ entity.currency }}
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                {% trans from "game" %}overall costs{% endtrans %}:
            </div>
            <div class="col">
                {{ entity |get_game_overall_costs }} {{ entity.currency }}
                <a href="{{ path('purchase_create_for_game', {'id': entity.id}) }}">
                    {% trans from "game" %}add purchase{% endtrans %}
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                {% trans from "game" %}costs per hour{% endtrans %}:
            </div>
            <div class="col">
                {{ entity |get_game_costs_per_hour }} {{ entity.currency }}/h
            </div>
        </div>
        {{ form_start(form) }}
        <div class="row">
            <div class="col text-right">
                {% trans from "game" %}bought at{% endtrans %}:
            </div>
            <div class="col">
                {{ form_widget(form.boughtAt) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_widget(form.description) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.submit) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            CKEDITOR.replace('game_description');
        });
    </script>
{% endblock %}
