{% extends 'admin-base.html.twig' %}
{% block body %}
    <table id="game-list-backend" class="table">
        <thead>
        <tr>
            <th scope="col">
                {% trans from 'messages' %}name{% endtrans %}
            </th>
            <th scope="col">
                {% trans from 'messages' %}status{% endtrans %}
            </th>
            <th scope="col">
                {% trans from 'messages' %}bought_at{% endtrans %}
            </th>
            <th scope="col">
                {% trans from 'messages' %}invested_money{% endtrans %}
            </th>
            <th scope="col">
                {% trans from 'messages' %}played_for{% endtrans %}
            </th>
            <th scope="col">
                {% trans from 'messages' %}last_played{% endtrans %}
            </th>
            <th scope="col">
                {% trans from 'messages' %}number_of_sessions{% endtrans %}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for game in entities %}
            <tr>
                <td>
                    <a href="{{ path('game_dashboard', {'id': game.id}) }}">{{ game.name }}</a>
                </td>
                <td>
                    {{ game.status |trans }}
                </td>
                {% if game.hasGamePurchase %}
                    <td data-order="{{ game.gamePurchase.boughtAt | date('Y-m-d') }}">
                        {{ game.gamePurchase.boughtAt |date('d.m.Y') }}
                    </td>
                {% else %}
                    <td data-order="0">
                        -
                    </td>
                {% endif %}
                <td data-order="{{ game |get_game_overall_costs }} ">
                    {{ game |get_game_overall_costs }} {{ game.currency|trans }}
                </td>

                <td data-order="{{ game.timePlayed }}">
                    {% if game.timePlayed > 0 %}
                        {{ game.timePlayed | convert_overall_time }}
                    {% else %}
                        -
                    {% endif %}
                </td>

                {% set lastSession = game.gameSessions | last %}
                {% if lastSession %}
                    <td data-order="{{ lastSession.createdAt | date('Y-m-d') }}">
                        {{ lastSession.createdAt |date('d.m.Y') }}
                    </td>
                {% else %}
                    <td data-order="0">
                        -
                    </td>
                {% endif %}
                <td>
                    {{ game.gameSessions | length }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
