{% extends 'admin-base.html.twig' %}
 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
 {% endblock %}
{% block body %}
    <table id="game-list" class="table">
        <thead>
        <tr>
            <th scope="col">
                {% trans from 'messages' %}name{% endtrans %}
            </th>
            <th scope="col">
                {% trans from 'messages' %}updated_at{% endtrans %}
            </th>
            <th scope="col">
                {% trans from 'messages' %}played_for{% endtrans %}
            </th>
            <th scope="col">
                {% trans from 'messages' %}last_played{% endtrans %}
            </th>
            <th scope="col">
                {% trans from 'messages' %}number_of_sessions{% endtrans %}
            </th>
            <th scope="col">
                {% trans from 'messages' %}number_of_blog_posts{% endtrans %}
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for game in entities %}
            <tr>
                <td>
                    {{ game.name }}
                </td>
                <td data-order="{{ game.modifiedAt | date('Y-m-d') }}">
                    {{ game.modifiedAt|date('d.m.Y H:i') }}
                </td>
                <td data-order="{{ game.timePlayed }}">
                    {% if game.timePlayed > 0 %}
                        {{ game.timePlayed | convert_overall_time }}
                    {% else %}
                        -
                    {% endif %}
                </td>

                {% set lastSession = game.gameSessions | last %}
                {% if lastSession %}
                    <td data-order="{{ lastSession.createdAt | date('Y-m-d') }}">
                        {{ lastSession.createdAt |date('d.m.Y') }}
                    </td>
                {% else %}
                    <td data-order="0">
                        -
                    </td>
                {% endif %}
                <td data-order="0">
                    {{ game.gameSessions | length }}
                </td>
                <td>
                    {{ game.blogPosts|length }}
                </td>
                <td>
                    <a class="float-right"
                       href="{{ path('game_dashboard', {'id': game.id}) }}">{% trans from 'messages' %}dashboard{% endtrans %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#game-list').DataTable({
                'order': [[3, 'desc']]
            });
        });
    </script>
{% endblock %}
