{% extends 'base.html.twig' %}
{% block body %}
    <table id="game-list" class="table">
        <thead>
        <tr>
            <th scope="col">
                {% trans from 'messages' %}name{% endtrans %}
            </th>
            <th scope="col">
                {% trans from 'messages' %}number_of_sessions{% endtrans %}
            </th>
            <th scope="col">
                {% trans from 'messages' %}overall_playtime{% endtrans %}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for game in entities %}
            <tr>
                <td scope="row">
                    <a href="{{ path('game_show', {'slug': game.slug}) }}">
                        {{ game.name }}
                    </a>
                </td>
                <td scope="col">
                    {{ game.gameSessions|length }}
                </td>
                <td scope="col" data-order="{{ game.timePlayed }}">
                    {{ game.timePlayed | convert_overall_time }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
