{% extends 'admin-base.html.twig' %}
 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
 {% endblock %}
{% block body %}
    <table id="game-list" class="table">
        <thead>
        <tr>
            <th scope="col">
                {% trans from 'game' %}name{% endtrans %}
            </th>
            <th scope="col">
                {% trans from 'game' %}updated at{% endtrans %}
            </th>
            <th scope="col">
                {% trans from 'game' %}played for{% endtrans %}
            </th>
            <th scope="col">
                {% trans from 'game' %}last played{% endtrans %}
            </th>
            <th scope="col">
                {% trans from 'game' %}number of sessions{% endtrans %}
            </th>
            <th scope="col">
                {% trans from 'game' %}number of blogposts{% endtrans %}
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for game in entities %}
            <tr>
                <td scope="row">
                    {{ game.name }}
                </td>
                <td scope="col">
                    {{ game.modifiedAt|date('d.m.Y H:i') }}
                </td>
                <td scope="col">
                    {% if game.timePlayed > 0 %}
                        {{ game.timePlayed | convert_overall_time }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td scope="col">
                    {% set lastSession = game.gameSessions | last %}
                    {% if lastSession %}
                        {{ lastSession.createdAt |date('d.m.Y') }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td scope="col">
                    {{ game.gameSessions | length }}
                </td>
                <td scope="col">
                    {{ game.blogPosts|length }}
                </td>
                <td scope="col">
                    <a class="float-right"
                       href="{{ path('game_dashboard', {'id': game.id}) }}">{% trans from 'game' %}Dashboard{% endtrans %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#game-list').DataTable({
                'order': [[3, 'desc']]
            });
        });
    </script>
{% endblock %}
