{% extends 'admin-base.html.twig' %}
{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {% trans from "dashboard" %}dashboard{% endtrans %}
            </h1>
        </div>
        {% if gameStats is defined %}
            <div>Achievements: {{ gameStats.playerAchievements }}/{{ gameStats.overallAchievements }}</div>
            <div>Recently Played: {{ gameStats.recentlyPlayed|convert_overall_time }}</div>
            <div>Overall Playtime: {{ gameStats.timePlayed|convert_overall_time }}</div>
            <div>Game Sessions: {{ gameStats.gameSessions }}</div>
            <div>Wasted Money: {{ gameStats.wastedMoney }} {{ gameStats.currency }}</div>
            <div>Invested Money: {{ gameStats.investedMoney }} {{ gameStats.currency }}</div>
        {% endif %}
        {% if playtimePerMonth is defined %}
            <div>
                Played Sessions per Month
                <ul>
                    {% for playtimePerMonth in playtimePerMonths %}
                        <li>{{ playtimePerMonth.month|date('m.Y') }}: {{ playtimePerMonth.sessions }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                Playtime per Month
                <ul>
                    {% for playtimePerMonth in playtimePerMonths %}
                        <li>{{ playtimePerMonth.month|date('m.Y') }}
                            : {{ playtimePerMonth.duration|convert_overall_time }}</li>
                    {% endfor %}
                </ul>

            </div>
        {% endif %}
    </div>
    <div class="row">
    </div>
{% endblock %}
