{% extends 'admin-base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {% trans from "messages" %}dashboard{% endtrans %}
            </h1>
        </div>
    </div>
    <div class="row text-center">
        {% if gameStats is defined and gameStats is not empty %}
            <div class="col">
                <div class="card mb-4">
                    <div class="card-header">
                        {% trans from "messages" %}achievements{% endtrans %}
                    </div>
                    <div class="card-body">
                        {{ gameStats.playerAchievements }}/{{ gameStats.overallAchievements }}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4">
                    <div class="card-header">
                        {% trans from "messages" %}recently_played{% endtrans %}
                    </div>
                    <div class="card-body">
                        {{ gameStats.recentlyPlayed|convert_overall_time }}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4">
                    <div class="card-header">
                        {% trans from "messages" %}overall_playtime{% endtrans %}
                    </div>
                    <div class="card-body">
                        {{ gameStats.timePlayed|convert_overall_time }}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4">
                    <div class="card-header">
                        {% trans from "messages" %}game_sessions{% endtrans %}
                    </div>
                    <div class="card-body">
                        {{ gameStats.gameSessions }}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4">
                    <div class="card-header">
                        {% trans from "messages" %}wasted_money{% endtrans %}
                    </div>
                    <div class="card-body">
                        {{ gameStats.wastedMoney }} {{ gameStats.currency }}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4">
                    <div class="card-header">
                        {% trans from "messages" %}invested_money{% endtrans %}
                    </div>
                    <div class="card-body">
                        {{ gameStats.investedMoney }} {{ gameStats.currency }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col" id="sessions-per-month" style="min-height: 250px"></div>
        <div class="col" id="playtime-per-month" style="min-height: 250px"></div>
    </div>
  {% endblock %}
