{% include 'base.html.twig' %}
{% block body %}
    <h2>{{ games.mostPlayed.title }}</h2>
    <ul>
        {% for game in games.mostPlayed.content %}
            <li>
                <img src="{{ game.image }}" />
                {{ game.playtime }}
            </li>
        {% endfor %}
    </ul>
    <h2>{{ games.recentlyPlayed.title }}</h2>
    <ul>
        {% for game in games.recentlyPlayed.content %}
            <li>
                <img src="{{ game.image }}" />
                {{ game.playtime }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
