{% for key, gamesStat in gamesStats %}
 {% if key % 3 == 0 %}
<div class="row mb-4">
    {% endif %}
    <div class="col-sm-4">
        <div class="card mb-4">
            <a href="{{ path('game_dashboard', {'id': gamesStat.game.id}) }}">
                <div class="card-header">
                    <h3 class="card-title">{{ gamesStat.game.name }}</h3>
                </div>
                <img src='{{ gamesStat.game.headerImagePath }}' alt='{{ gamesStat.game.name }}' class='img-responsive card-img-top'/>
            </a>
            <div class="card-body list-group p-0 text-right">
                <div class="list-group-item">
                    {{ gamesStat.playtime.overallPlaytime|convert_overall_time }}
                </div>
            </div>
        </div>
    </div>
    {% if key % 3 == 2 %}
</div>
{% endif %}
{% endfor %}
