<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <div class="navbar-brand">
        <a class="navbar-brand nav-link" target="_blank"
           href="https://github.com/lkochniss/gamer-profile/releases">
            Gamer Profile {{ current_version }}</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('homepage_recently_played') }}">
                    <i class="fa fa-clock-o" aria-hidden="true">
                        {% trans from "messages" %}recently_played{% endtrans %}
                    </i>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('homepage_most_played') }}">
                    <i class="fa fa-line-chart" aria-hidden="true">
                        {% trans from "messages" %}most_played{% endtrans %}
                    </i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('homepage_game_of_month_this_year') }}">
                    <i class="fa fa-trophy" aria-hidden="true">
                        {% trans from "messages" %}game_of_the_month{% endtrans %}
                    </i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('homepage_game_of_year') }}">
                    <i class="fa fa-trophy" aria-hidden="true">
                        {% trans from "messages" %}game_of_the_year{% endtrans %}
                    </i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('homepage_newest_games') }}">
                    <i class="fa fa-star" aria-hidden="true">
                        {% trans from "messages" %}new_games{% endtrans %}
                    </i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('game_list_frontend') }}">
                    <i class="fa fa-list" aria-hidden="true">
                        {% trans from "messages" %}game_list{% endtrans %}
                    </i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://steamcommunity.com/id/{{ steam_user_name }}">
                    <i class="fa fa-steam" aria-hidden="true">
                        {% trans from "messages" %}steam_profile{% endtrans %}
                    </i>
                </a>
            </li>
        </ul>
    </div>
</nav>
