<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <div class="navbar-brand">Gamer Profile Admin</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('homepage_dashboard') }}">
                    <i class="fa fa-bar-chart" aria-hidden="true">
                        {% trans from "messages" %}dashboard{% endtrans %}
                    </i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('game_list') }}">
                    <i class="fa fa-steam" aria-hidden="true">
                        {% trans from "messages" %}games{% endtrans %}
                    </i>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    <i class="fa fa-clock-o" aria-hidden="true">
                        {% trans from "messages" %}game_sessions{% endtrans %}
                    </i>
                </a>
                <div class="dropdown-menu">
                    <a class="nav-link" href="{{ path('game_session_list') }}">
                        {% trans from "messages" %}game_sessions_per_day{% endtrans %}
                    </a>
                    <a class="nav-link" href="{{ path('game_session_list_per_month') }}">
                        {% trans from "messages" %}game_sessions_per_month{% endtrans %}
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('homepage_game_of_month_this_year') }}">
                    <i class="fa fa-trophy" aria-hidden="true">
                        {% trans from "messages" %}game_of_the_month{% endtrans %}
                    </i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('homepage_game_of_year') }}">
                    <i class="fa fa-trophy" aria-hidden="true">
                        {% trans from "messages" %}game_of_the_year{% endtrans %}
                    </i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('homepage_most_played') }}">
                    <i class="fa fa-trophy" aria-hidden="true">
                        {% trans from "messages" %}most_played{% endtrans %}
                    </i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto right">
            {% if app.request|is_dark_theme %}
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('homepage_default_theme') }}">
                        {% trans from "messages" %}switch_to_default_theme{% endtrans %}
                    </a>
                </li>
            {% else %}
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('homepage_dark_theme') }}">
                        {% trans from "messages" %}switch_to_dark_theme{% endtrans %}
                    </a>
                </li>
            {% endif %}
            <li class="nav-item ">
                <a class="nav-link" href="{{ path('security_logout') }}">
                    <i class="fa fa-sign-out fa-fw"></i>
                    {% trans from "messages" %}logout{% endtrans %}
                </a>
            </li>
        </ul>
    </div>
</nav>
