<div class="panel-footer">
    <span class="pull-left">{% trans from "messages" %}achievements{% endtrans %}</span>
    <a target="_blank"
       href="https://steamcommunity.com/id/{{ steam_user_name }}/stats/{{ gameStats.game.steamAppId }}/achievements">
        <span class="pull-right">
             {% if gameStats.achievement.overallAchievements > 0 %}
                 {{ gameStats.achievement.playerAchievements }} / {{ gameStats.achievement.overallAchievements }}
                 {% set percentage = gameStats.achievement.playerAchievements / gameStats.achievement.overallAchievements  * 100 %}
                 ({{ percentage|round(2) }}%)
             {% endif %}
        </span>

    </a>
    <div class="clearfix"></div>
</div>
