{% extends 'admin-base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    <div class="row mb-4">
        <div class="col-md-1 text-right col-form-label">
            <label>{% trans from "messages" %}title{% endtrans %}</label>
        </div>
        <div class="col-md-4">
            {{ form_widget(form.title) }}
        </div>
        <div class="col-md-1 text-right col-form-label">
            <label>{% trans from "messages" %}game{% endtrans %}</label>
        </div>
        <div class="col-md-2">
            {{ form_widget(form.game) }}
        </div>
        <div class="col-md-2 text-right">
            {{ form_row(form.submit) }}
        </div>
        {% if  app.request.get('_route') ends with '_edit' %}
            <div class="col-md-2">
                <a href="{{ path('blog_post_show', {'gameSlug' : entity.game.slug, 'blogPostSlug' : entity.slug }) }}"
                class="btn btn-primary">
                    {% trans from "messages" %}show{% endtrans %}
                </a>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col">
            {{ form_widget(form.content) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>

    <script type="text/javascript">
      $(document).ready(function () {
        CKEDITOR.replace('blog_post_content', {
          'entities': false
        })
      })
    </script>
{% endblock %}
