{% extends 'admin-base.html.twig' %}
{% block body %}
    {% if  app.request.get('_route') ends with '_edit' %}
        <div class="row">
            <div class="col text-right">
                <a href="{{ path('blog_post_show', {'gameSlug' : entity.game.slug, 'blogPostSlug' : entity.slug }) }}">
                    {% trans from "messages" %}show{% endtrans %}
                </a>
            </div>
        </div>
    {% endif %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col">
            {{ form_row(form.title) }}
        </div>
        <div class="col">
            {{ form_row(form.game) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_widget(form.content) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.submit) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            CKEDITOR.replace('blog_post_content',{
              'entities': false
            });
        });
    </script>
{% endblock %}
