{% extends 'admin-base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col">
            <a class="btn btn-primary pull-right"
               href="{{ path('blog_post_create') }}"> {% trans from 'blog_post' %}create{% endtrans %}</a>
        </div>
    </div>
    <table id="blog-post-list" class="table">
        <thead>
        <tr>
            <th scope="col">{% trans from 'blog_post' %}Game{% endtrans %}</th>
            <th scope="col">{% trans from 'blog_post' %}title{% endtrans %}</th>
            <th scope="col">{% trans from 'blog_post' %}modified at{% endtrans %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for post in entities %}
            <tr>
                <td scope="row">{{ post.game.name }}</td>
                <td scope="col">{{ post.title }}</td>
                <td scope="col">{{ post.modifiedAt|date('d.m.Y H:i') }}</td>
                <td scope="col">
                    <a class="float-right"
                       href="{{ path('blog_post_edit', {'id': post.id}) }}">{% trans from 'game' %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#blog-post-list').DataTable();
        });
    </script>
{% endblock %}
