{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <table id="blog-post-frontend-list" class="table">
            <thead>
            <tr>
                <th scope="col">
                    {% trans from 'messages' %}title{% endtrans %}
                </th>
                <th scope="col">
                    {% trans from 'messages' %}created_at{% endtrans %}
                </th>
                <th scope="col">
                    {% trans from 'messages' %}updated_at{% endtrans %}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for post in entities %}
                <tr>
                    <td scope="row">
                        <a href="{{ path('blog_post_show', {'gameSlug': post.game.slug, 'blogPostSlug': post.slug}) }}"> {{ post.title }}</a>
                    </td>
                    <td scope="col" data-order="{{ post.createdAt|date('Y-m-d') }}">
                        {{ post.createdAt|date('d.m.Y H:i') }}
                    </td>
                    <td scope="col" data-order="{{ post.modifiedAt|date('Y-m-d') }}">
                        {{ post.modifiedAt|date('d.m.Y H:i') }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
