{% extends 'admin-base.html.twig' %}
 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
 {% endblock %}
{% block body %}
    <h1>
        {{ game.name }}
        <a href="{{ path('game_dashboard', {'id': game.id}) }}">{% trans from 'messages' %}dashboard{% endtrans %}</a>
    </h1>
    <table id="blog-post-list" class="table">
        <thead>
        <tr>
            <th scope="col">{% trans from 'messages' %}title{% endtrans %}</th>
            <th scope="col">{% trans from 'messages' %}created_at{% endtrans %}</th>
            <th scope="col">{% trans from 'messages' %}modified_at{% endtrans %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for post in entities %}
            <tr>
                <td scope="col">{{ post.title }}</td>
                <td scope="col" data-order="{{ post.createdAt|date('Y-m-d') }}">{{ post.createdAt|date('d.m.Y H:i') }}</td>
                <td scope="col" data-order="{{ post.modifiedAt|date('Y-m-d') }}">{{ post.modifiedAt|date('d.m.Y H:i') }}</td>
                <td scope="col">
                    <a class="float-right"
                       href="{{ path('blog_post_edit', {'id': post.id}) }}">{% trans from 'messages' %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#blog-post-list').DataTable({
                'order': [[1, 'desc']]
            });
        });
    </script>
{% endblock %}
