{% include 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <a class="btn btn-primary float-right" href="{{ path('blog_post_create') }}"> {% trans from 'blog_post' %}create{% endtrans %}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {% trans from 'blog_post' %}Game{% endtrans %}
            </div>
            <div class="col">
                {% trans from 'blog_post' %}title{% endtrans %}
            </div>
            <div class="col">
                {% trans from 'blog_post' %}modified at{% endtrans %}
            </div>
            <div class="col"></div>
        </div>
        <hr/>
        {% for post in entities %}
            <div class="row">
                <div class="col-6">
                    {{ post.game.name }}
                </div>
                <div class="col">
                    {{ post.title }}
                </div>
                <div class="col">
                    {{ post.modifiedAt|date('d.m.Y H:i') }}
                </div>
                <div class="col">
                    <a class="float-right"
                       href="{{ path('blog_post_edit', {'id': post.id}) }}">{% trans from 'game' %}edit{% endtrans %}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
