{% include 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        {% include '_modules/infotext.html.twig' %}
        <div class="row">
            <h1 class="col">{{ entity.title }}</h1>
            <div class="col pull-right">
                <div class="row">
                    {% trans from "blog_post" %}posted at{% endtrans %} {{ entity.createdAt|date("d.m.Y H:i") }}
                </div>
                <div class="row">
                    {% trans from "blog_post" %}updated at{% endtrans %} {{ entity.modifiedAt|date("d.m.Y H:i") }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ entity.content| raw }}
            </div>
        </div>
        <a href="{{ path('recentlyPlayed') }}">{% trans from "blog_post" %}Back to Overview {% endtrans %}</a>
    </div>
{% endblock %}
