{% include 'base.html.twig' %}
{% block body %}
    <div class="container">
        {{ form_start(form) }}
        <div class="row">
            <div class="col">
                {{ form_row(form.type) }}
            </div>
            <div class="col">
                {{ form_row(form.price) }}
                {{ form_widget(form.currency) }}
            </div>
            <div class="col">
                {{ form_row(form.game) }}
            </div>
            <div class="col">
                {{ form_row(form.boughtAt) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_widget(form.notice) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.submit) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">

        $(document).ready(function () {
            $('#purchase_game').select2();
        });
    </script>
{% endblock %}
