{% extends 'admin-base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-1 col-form-label">
            <label>{% trans from "messages" %}type{% endtrans %}</label>
        </div>
        <div class="col-md-2">
            {{ form_widget(form.type) }}
        </div>
        <div class="col-md-1 col-form-label">
            <label>{% trans from "messages" %}game{% endtrans %}</label>
        </div>
        <div class="col-md-2">
            {{ form_widget(form.game) }}
        </div>
        <div class="col-md-1 col-form-label">
            <label>{% trans from "messages" %}price{% endtrans %}</label>
        </div>
        <div class="col-md-1">
            {{ form_widget(form.price) }}
        </div>
        <div class="col-md-1">
            {{ form_widget(form.currency) }}
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-1 col-form-label">
            <label>{% trans from "messages" %}bought_at{% endtrans %}</label>
        </div>
        <div class="col-md-2">
            {{ form_widget(form.boughtAt) }}
        </div>
        <div class="col-md-1 col-form-label">
            <label>{% trans from "messages" %}notice{% endtrans %}</label>
        </div>
        <div class="col-md-2">
            {{ form_widget(form.notice) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.submit) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.js"></script>
{% endblock %}
