{% extends 'admin-base.html.twig' %}
 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
 {% endblock %}
{% block body %}
    <table id="purchase-list" class="table">
        <thead>
        <tr>
            <th scope="col">
                "{% trans from 'messages' %}Game{% endtrans %}
            </th>
            <th scope="col">
                {% trans from 'messages' %}zype{% endtrans %}
            </th>
            <th scope="col">
                {% trans from 'messages' %}notice{% endtrans %}
            </th>
            <th scope="col">
                {% trans from 'messages' %}price{% endtrans %}
            </th>
            <th scope="col">
                {% trans from 'messages' %}bought_at{% endtrans %}
            </th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for purchase in entities %}
            <tr>
                <td scope="row">
                    <a href="{{ path('game_dashboard', {id: purchase.game.id}) }}">{{ purchase.game.name }}</a>
                </td>
                <td scope="col">
                    {{ purchase.type }}
                </td>
                <td scope="col">
                    {{ purchase.notice }}
                </td>
                <td scope="col">
                    {{ purchase.price }} {{ purchase.currency }}
                </td>
                <td scope="col" data-order="{{ purchase.boughtAt|date('Y-m-d') }}">
                    {{ purchase.boughtAt|date('d.m.Y') }}
                </td>
                <td scope="col">
                    <a class="float-right"
                       href="{{ path('purchase_edit', {'id': purchase.id}) }}">{% trans from 'messages' %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#purchase-list').DataTable({
                'order': [[4, 'desc']]
            });
        });
    </script>
{% endblock %}
