{% extends 'base.html.twig' %}
{% block body %}
    <h1>
        {{ game.name }}
        <a href="{{ path('game_dashboard', {'id': game.id}) }}">{% trans from 'messages' %}dashboard{% endtrans %}</a>
    </h1>
    <table id="purchase-list" class="table">
        <thead>
        <tr>
            <th scope="col">
                {% trans from 'messages' %}type{% endtrans %}
            </th>
            <th scope="col">
                {% trans from 'messages' %}notice{% endtrans %}
            </th>
            <th scope="col">
                {% trans from 'messages' %}price{% endtrans %}
            </th>
            <th scope="col">
                {% trans from 'messages' %}bought_at{% endtrans %}
            </th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for purchase in entities %}
            <tr>
                <td scope="col">
                    {{ purchase.type }}
                </td>
                <td scope="col">
                    {{ purchase.notice }}
                </td>
                <td scope="col">
                    {{ purchase.price }} {{ purchase.currency|trans }}
                </td>
                <td scope="col" data-order="{{ purchase.boughtAt|date('Y-m-d') }}">
                    {{ purchase.boughtAt|date('d.m.Y') }}
                </td>
                <td scope="col">
                    <a class="float-right"
                       href="{{ path('purchase_edit', {'id': purchase.id}) }}">{% trans from 'messages' %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
