{% set count = 0 %}
{% for gamePerMonth in bestGamePerMonth %}
    {% if count % 3 == 0 %}
        <div class="row mb-5">
    {% endif %}
    <div class="col-lg-4 col-md col-sm">
        <div class="card">
            <a href="{{ path('game_show', {'slug': gamePerMonth.game.slug}) }}">
                <div class="card-header">
                    <h3 class="card-title">
                        {{ gamePerMonth.game.name }}
                    </h3>
                </div>
                <img src='{{ gamePerMonth.game.headerImagePath }}' alt='{{ gamePerMonth.game.name }}'
                     class='img-responsive card-img-top'/>
            </a>
            <div class="card-footer text-right">
                {{ gamePerMonth.month|date('F Y') }}
            </div>
        </div>

    </div>
    {% if count % 3 == 2 %}
        </div>
    {% endif %}
    {% set count = count +1 %}
{% endfor %}

