<ul class='list-group'>
    <h3 class='list-group-item'><a href="{{ path('game_show', {'slug': game.slug}) }}">{{ game.name }}</a></h3>
    <img src='{{ game.headerImagePath }}' alt='{{ game.name }}' class='img-fluid list-group-item'/>
    <h4 class='list-group-item'>{% trans from 'blog_post' %}Statistics{% endtrans %}</h4>
    {% include '_modules/last-session.html.twig' with { game: game, hasItemList: true } %}
    {% include '_modules/recently-played.html.twig' with { game: game, hasItemList: true } %}
    {% include '_modules/overall-played.html.twig' with { game: game, hasItemList: true } %}
    {% if game.blogPosts|length > 0 %}
        <div class='list-group-item'>
            <h4 class='float-left'>{% trans from 'blog_post' %}Latest Blogposts{% endtrans %}</h4>
            <div class='text-right'>
                {% trans from 'blog_post' %}posted at{% endtrans %}
            </div>
        </div>

        {% for post in game.blogPosts | reverse | slice(0, 3) %}
            <div class='list-group-item'>
                <a class='float-left' href='{{ path('blog_post_show', {'gameSlug': game.slug, 'blogPostSlug':  post.slug }) }}'>{{ post.title }}</a>
                <div class='text-right'>
                    {{ post.createdAt|date('d.m.Y H:i') }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
</ul>

